:root {
    --bg-color2: #aea78b;
    --txt-color: #ffffff;
    --bg-color3: #b076f1;
    --bg-color: #161616;
    --cl2: #cea4cf;
}

body {
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--txt-color);

    background-color: var(--bg-color);
    /* opacity: 1;
    background-image: radial-gradient(var(--cl2) 1.25px, transparent 1.25px), radial-gradient(var(--cl2) 1.25px, var(--bg-color) 1.25px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px; */
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--txt-color);
    text-decoration: none;
}

#bg-img {
    width: 100%;
    position: fixed;
    top: 0px;
}

#main {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

#container {
    position: relative;
    width: 90%;
    /* margin: auto; */
    /* margin-left: 50%; */
    /* border: 1px solid #ffffff; */
    padding: 10px;
    padding-top: 5px;
    /* background-color: var(--cl2); */
}


#info {
    display: none;
}

@media screen and (min-width: 768px) {
    #container {
        width: 20%;
        /* or any desired width for larger screens */
        /* margin-left: 10%; */

    }

    #info {
        display: block;
        position: sticky;
        background-color: yellow;
        width: 50%;
        height: 70vh;
        /* margin-bottom: 0px; */
        bottom: 43vh;
        margin-top: 10px;
        top: 12vh;
        /* margin: auto 0; */
        padding-top: 12px;
        border: 1px solid #ddd;
        background-color: var(--bg-color);

    }
}

.row {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
}

#footer {
    position: relative;
    top: 20vh;
    height: 100px;
    /* background-color: yellow; */
}